footer {
    position: sticky;
    text-align: center;
    font-style: italic;
    font-family: cursive;
    bottom: 0;
}

#copyright{                 
    transition: transform 50s ease-in-out;
}

#copyright:hover {
    transform: rotateY(-36000deg);
   
}

body {
    background-color: #f4d292;
}

h1 {
    text-align: center;
    font-family: cursive;
    text-decoration: underline;
}

#snakeSet {
    margin: 0 auto;
   width: 705px;  
 /*   width: 28%;  /* width for home  */
    border: 2px solid;
}

.snakeGrid {
    float: left;
    width: 30px;
    height: 30px;
    border: 1px solid;
}

#snakeStart {
    margin: 0 auto;
    clear: left;
    
    height: 30px;
    text-align: center;
}

input {
    width: 40px;
    height: 40px;
    text-align: center;
    
}

#snakeScore {
    display: none;
    margin: 0 auto;
    width: max-content;
}